# Игнорировать всё (включая скрытые файлы и папки)
*

# Но не игнорировать .gitignore (важен для работы Git)
!.gitignore

# Не игнорировать папку widgets и её содержимое
!/widgets/

# Не игнорировать Python-файлы в корне проекта
!*.py

!*.pth

# Исключения: игнорировать конкретные файлы в корне, если они не нужны
oil spill analyzer.spec
training_loss.png

# Игнорировать служебные папки Python и сборки
__pycache__/
venv/
build/
dist/
